<div class="container">
    <h3 style="text-align:center;">{{ link }}</h3>

    <div class='row'>
        <div style="width: 17rem;" *ngFor="let video of Angular;let i =index">
            <div *ngIf="link == 'Angular 9.0 -by Justin Mitchel'">
                <div class="col-sm-12">
                    <iframe style="border:solid;padding:20px;border-color:white;" width="300" height="200"
                        [src]="getangular(video)" frameborder="20"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <h5 class="mt-0">Angular Tutorial - {{ i+1 }}.</h5>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- For Angular 9.0 -->



    <!-- For C Programming -->
    <div class='row'>
        <div style="width: 17rem;" *ngFor="let video of C;let i =index">
            <div *ngIf="link == 'C programming Basics -by Sourabh Shukla'">
                <div class="col-sm-12">
                    <iframe style="border:solid;padding:20px;border-color:white;" width="300" height="200"
                        [src]="getC(video)" frameborder="20"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <h5 class="mt-0">C language Tutorial- {{ i+1 }}.</h5>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- For C Programming -->


    <!-- For other courses -->

    <div *ngIf="(link != 'Angular 9.0 -by Justin Mitchel') && (link != 'C programming Basics -by Sourabh Shukla')">
        <p style="color:black;"><b>The Videos will uploaded soon...</b></p>
    </div>

    <!-- For other courses -->


</div>

<router-outlet></router-outlet>