<!-- Home page image gallery -->
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="next" data-slide-to="0" class="active"></li>
      <li data-target="next" data-slide-to="1"></li>
      <li data-target="next" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div  class="carousel-item">
        <img height="300px" src="assets/images/Angularjs.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img height="300px" src="assets/images/C pro.png" class="d-block w-100" alt="...">
      </div>
      <div  class="carousel-item">
        <img height="300px" src="assets/images/django python.jpg" class="d-block w-100" alt="...">
      </div>
      <div  class="carousel-item">
        <img height="300px" src="assets/images/web dev.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="next" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="next" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>-->

<!-- <carousel>
    <slide>
        <img height="300px" src="assets/images/Angularjs.jpeg" class="d-block w-100" alt="...">
    </slide>
    <slide>
        <img height="300px" src="assets/images/C pro.png" class="d-block w-100" alt="...">
    </slide>
    <slide>
        <img height="300px" src="assets/images/django python.jpg" class="d-block w-100" alt="...">
    </slide>
    <slide>
        <img height="300px" src="assets/images/web dev.jpeg" class="d-block w-100" alt="...">
    </slide>
</carousel>
 -->







  


<!-- Home page image gallery -->
