<!-- Javascript -->






<!-- Home page image gallery -->

<div class="container">

  <carousel >
    <slide>
      <img id="carousel" class="d-block w-100" src="assets/images/Angularjs.jpeg" alt="first slide"
        style="display: block;">
    </slide>
    <slide>
      <img id="carousel" class="d-block w-100" src="assets/images/C pro.png" alt="second slide"
        style="display: block;">
    </slide>
    <slide>
      <img id="carousel" class="d-block w-100" src="assets/images/django python.jpg" alt="third slide"
        style="display: block;">
    </slide>
    <slide>
      <img id="carousel" class="d-block w-100" src="assets/images/web dev.jpeg" alt="third slide"
        style="display: block;">
    </slide>
  </carousel>

</div>


<!-- Home page image gallery -->
<!-- Recommendation block -->
<br>
<br>
<br>
<br>


<div class="container">
  <h3>All New Courses</h3>
  <hr>
  <div class='row'>
    <div id="rec_course" *ngFor='let video of recommended_course'>
      <div class="col-sm-12">
        <img style="border:solid;padding:20px;" routerLink="/course-list/{{ video.link }}"
          routerLinkActive="active" width=10px height=150px [src]="video.image" class="w-100" [alt]="video.course">
        <div class="card-body">
          <h5 class="card-title">{{ video.course }}</h5>
          <p style="color:grey;" class="card-text">{{ video.speaker }} <br></p>
          <p><b>Free</b></p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Recommendation block -->
<!-- Mostly students View -->

<div class="container">
  <hr>
  <h3>Mostly Students View</h3>
  <hr>
  <div class='row'>
    <div  id="rec_course" *ngFor='let video of student_course'>
      <div class="col-sm-12">
        <img style="border:solid;padding:20px;" routerLink="/course-list/{{ video.link }}"
          routerLinkActive="active" width=10px height=150px [src]="video.image" class="w-100" [alt]="video.course">
        <div class="card-body">
          <h5 class="card-title">{{ video.course }}</h5>
          <p style="color:grey;" class="card-text">{{ video.speaker }} <br></p>
          <p><b>Free</b></p>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Mostly students View -->

<router-outlet></router-outlet>