<!-- <div class = "container"> -->
<mat-sidenav-container style="background-color:black;" class="sidenav-container">
  
  <mat-sidenav-content>
    <mat-toolbar style="background-color:black">
  
      <span class="spacer"> </span>
      <a  id="demo" mat-list-item href="/home"><b>Home</b></a>
      <a  id="demo" mat-list-item href="/course-list"><b>Courses</b></a>
      <a  id="demo" mat-list-item href="#"><b>More</b></a>
      <!-- Search form -->
      <form class="form-inline md-form form-sm">
        <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"mdbInput>
        <!-- <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button> -->
      </form>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- </div> -->

