<!-- <div class = "container"> -->
<mat-sidenav-container style="background-color:black;" class="sidenav-container">
  
  <mat-sidenav-content>
    <mat-toolbar style="background-color:black">
  
      <span class="spacer"> </span>
      <a  id="demo" mat-list-item href="/home"><b>Home</b></a>
      <a  id="demo" mat-list-item href="/course-list"><b>Courses</b></a>
      <a  id="demo" mat-list-item href="/about"><b>About</b></a>
      <a  id="demo" mat-list-item href="/form"><b>Add Videos</b></a>

    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- </div> -->

