<div class="container">
  <br>
  <h2><b><i>{{ title|titlecase }}</i></b></h2>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="text" placeholder="Search Here">
  </div>
  <div *ngFor="let courses of course_list |filter:text">
    <div class="row no-gutters bg-light position-relative">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img style="border:solid;padding:20px;" width=100px height=200px [src]="courses.image" class="w-100"
          [alt]="courses.course">
      </div>
      <div class="col-md-6 position-static p-4 pl-md-0">
        <h5 class="mt-0"><b>{{ courses.course|titlecase  }}</b></h5>
        <p>
          Language of Course : {{ courses.language|titlecase }} <br>
          Speaker of Course : {{ courses.speaker|titlecase  }} <br>
          Total lectures of Course : {{ courses.t_lectures|titlecase  }} <br>
          Course for : {{ courses.level|titlecase  }} <br>
          YouTube channel : {{ courses.channel }} <br>
        </p>
        <a href="/course-list/{{ courses.link }}" class="stretched-link">Explore it</a>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>