<html>

<head>
  <title>Stube | Add Videos</title>
</head>

<body>
  <div class="container">
    <br>
    <br>
    <br>
    <form #videoform="ngForm" (ngSubmit)="onSubmit(videoform)">
      <div *ngIf="show" class="alert alert-success alert-dismissible">
        <a (click)="closealert()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> This Video is Sucessfully Added
      </div>
      <label for="videoembed">Video Code</label>
      <input required minlength="11" maxlength="11" type="text" class="form-control" #code="ngModel" name="code" ngModel
        aria-describedby="videoembed" placeholder="Enter code">
      <span *ngIf="code.invalid && code.touched" style="color:red;"><b>**Please Fill Correct Code</b></span>
      <br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Courses</label>
        </div>
        <select name="course" ngModel class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option *ngFor="let courses of course_list" value="{{ courses.title }}">{{ courses.link }}</option>
        </select>
      </div>
      <button type="submit" [disabled]="videoform.invalid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>

</html>



















<router-outlet></router-outlet>