<div class="container">
    <br>
    <h1><b><i>About</i></b></h1>
    <br>
    <ul type="disc">
        <li>This is the Web Application project which provides many free Technical courses from YouTube at single place.It is developed in Angular 9.It is currently live on google firebase cloud.</li>
        <br>
        <li>This Web Application is useful because most of the times students search courses on Youtube and they do not found a suitable course which they should learn.</li>
        <br>
        <li>This Application provides every single information of every course like Lecturer of course,Language of course,Rating of course,Total Lectures and many more</li>
        <br>
        <li>In this Web Application there is no issue of <b><i>Copyright</i></b>.As when user selects specific course.It will redirect to YouTube.</li>
    </ul>
</div>